html, body {
  margin: 0; padding: 0;
}

#building-blocks {
  width: 300px;
  background-color: #ddd;
  border-right: 1px solid #777;
  padding: 10px;
}

#building-blocks div {
  margin: 3px;
}

#building-blocks, #editor {
  display: inline-block;
  vertical-align: top;
}

.lang li {
  cursor: hand;
}

.editor {
  font-size: 11px;
  font-family: sans-serif;
  padding: 3px 7px;
  box-shadow: 1px 1px 1px 0px #777;
  display: inline-block;
  cursor: default;
}

.editor.Block {
  background: blue;
  color: white;
}

.Value {
  border-radius: 15px;
}

.editor.Value {
  background: yellow;
  color: black;
  margin: 0 5px;
  cursor: text;
}

.gap {
  background: white;
  color: black;
  margin: 0 5px;
}

.gap.Value  {
  font-size: 11px;
  text-indent: 2px;
  padding: 0 8px;
  box-shadow: -1px -1px 2px 0px #777;
}

.gap.Block  { }
