html, body {
  margin: 0; padding: 0;
}

#building-blocks {
  width: 300px;
  background-color: #ddd;
  border-right: 1px solid #777;
  padding: 10px;
}

#building-blocks > div,
#editor > div {
  margin: 5px 5px;
}

#building-blocks, #editor {
  display: inline-block;
  vertical-align: top;
}

.lang li {
  cursor: hand;
}

.editor {
  font-size: 11px;
  font-family: sans-serif;
  box-shadow: 1px 1px 1px 0px #777;
  display: inline-block;
  padding: 3px 7px;
  margin: 0 5px;
  cursor: default;
  position: relative;
}

.editor.Block {
  background: blue;
  color: white;
}

.Value {
  border-radius: 15px;
}

.editor.Value {
  background: yellow;
  color: black;
}

.editor.Condition {
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  background: #B3EE3A;
  color: black;
}

.gap {
  background: white;
  color: black;
  margin: 0 5px;
  position: relative;
}

.gap.Value  {
  font-size: 11px;
  text-indent: 2px;
  padding: 0 8px;
  box-shadow: inset 1px 1px 1px #777;
  cursor: text;
}

.gap.Condition {
  background: green;
  color: white;
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  box-shadow: inset 1px 1px 1px #444;
  height: 20px;
  width: 30px;
}

.gap.Block  { }
